/* -----------Common---------- */
.App {
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.heading{
    grid-area: heading;
    color: #feaaaa;
    font-size: 2em;
}

.button {
    background-color: #fd0066;
    color: #fff;
    font-size: 0.7em;
    border-radius: 5px;
    border-color: #fff;
    width: 100%;
    height: 3vh;
}

table {
    width: 100%;
}

table, th, td {
    grid-area: table;
    font-size: 1em;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
  }

  table tr:nth-child(even) {
    background-color: #feaaaa;
  }
  table tr:nth-child(odd) {
   background-color: white;
  }
  table th {
    background-color: #fd0066;
    color: white;
  }

.table-heading{
    background-color: #feaaaa;
}

/* --------Login Home--------- */
.home-grid {
    display: grid;
    grid-template-rows: 10vh auto;
    grid-template-areas:
      'heading'
      'table';
    background-color: white;
    width: 100%;
    height: 100vh;
  }

  /* ---------Add Class--------- */
  .addclass-grid {
    display: grid;
    grid-template-rows: 10vh 10vh 5vh auto;
    grid-template-areas:
      'heading'
      'class-search'
      '.'
      'table';
    background-color: white;
    width: 100%;
    height: 100vh;
  }

  .class-search {
    grid-area: class-search;
    width: 100%;
}


.search-tb
{
    display: table;
    width: 100%;
}

.search-td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    background-color: transparent;
}

#cover
{
    height: 7vh;
    background-color: #feaaaa;
    border-color: black;
    border-color: #fff;
    border-radius: 5px;
}

input[type="text"]
{
    height: 7vh;
    width: 100%;
    font-size: 2em;
    border-color: #fff;
    border-radius: 5px;
    line-height: 1;

}

/* ---------Drop Class--------- */
  .dropclass-grid {
    display: grid;
    grid-template-rows: 10vh 5vh auto;
    grid-template-areas:
      'heading'
      '.'
      'table';
    background-color: white;
    width: 100%;
    height: 100vh;
  }
  
/* ----------Profile----------- */

